.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Some extra addons
# src/plugins/font-awesome-4.7.0
src/plugins/Js/isotope.pkgd.min.js
package-lock.json
# src/assets